<div>
  <form (ngSubmit)="addRecipe()">
    <input
      [(ngModel)]="recipe.name"
      type="text"
      placeholder="Recipe name"
      name="name"
    />
    <br />
    <br />
    <input
      type="text"
      placeholder="Ingredients"
      [(ngModel)]="recipe.ingredients"
      name="ingredients"
    />
    <br />
    <br />
    <input
      [(ngModel)]="recipe.instructions"
      type="text"
      placeholder="Instructions"
      name="instructions"
    />
    <br />
    <br />
    <button type="submit">Add recipe</button>
  </form>
</div>
